<nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md">
  <div style="width: 33%">
    <div class="navbar-brand">Version {{ afficheVersion() }}</div>
  </div>
  @if (isAuthenticated()) {
  <div [hidden]="afficherMobile" style="width: 33%; text-align:center">
    <a href="https://sgdf.fr/mentions-legales/" target="_blank" class="navbar-brand">Mentions l&eacute;gales</a>
  </div>
}
@if (isAuthenticated()) {
  <div [hidden]="afficherMobile" style="width: 33%; text-align:right">
    <a href="https://ressources.sgdf.fr/public/view/2247/" target="_blank" class="navbar-brand">Consulter la FAQ</a>
  </div>
}
</nav>