@import 'bootstrap/scss/functions';
@import 'bootswatch/dist/cosmo/variables';
@import 'bootstrap/scss/variables';

.navbar {
  background-color: #003a5f;
  padding: 0.1rem 1rem;
  margin-top: 15px;
  padding-right: 15px;
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: $dark;
  }

  .navbar-brand {
    margin-right: 0px;
    font-size: small;
  }

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 600;
  }

  .navbar-toggler {
    &:hover {
      color: $navbar-dark-hover-color;
    }
  }
}
