:host ::ng-deep .p-treeselect.p-component {
    width: 50% !important;
}

:host ::ng-deep .p-treeselect {
    width:20rem;
    display: inline-flex;
}

:host ::ng-deep .p-treenode-label {
  font-size: small
}

.mat-column-pe {
   text-align: center;
   width: 90px;
}

.mat-column-cq {
   text-align: center;
   width: 90px;
}

.mat-column-cf {
   text-align: center;
   width: 90px;
}