table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-sort-header-container {
  align-items: center;
}

.table-row {
  height: 30px !important;
}

tr.mat-row {
  height: 32px;
}

.titre_table {
  text-align: center;
}

.fonction {
  text-align: center;
}

.qualification {
  text-align: center;
}

.diplome {
  text-align: center;
}

.icone_diplome {
  vertical-align: middle;
}

.icone_diplome_sgdf_large {
  vertical-align: baseline;
  font-size: 22px;
}

.formation {
  text-align: center;
}

.check {
  text-align: center;
}

.audace {
  background-color: #1f4e78;
  color: white;
}

.compa {
  background-color: #375623;
  color: white;
}

.violet {
  background-color: #7030a0;
  color: white;
}

.farfadet {
  background-color: #70ad47;
  color: white;
}

.piok {
  background-color: #ff0000;
  color: white;
}

.sg {
  background-color: #0070c0;
  color: white;
}

.lj {
  background-color: #ed7d31;
  color: white;
}

.expire {
  background-color: #ff0000;
  color: white;
}

.vaexpirer {
  background-color: #ed7d31;
  color: white;
}

.non {
  background-color: #ffc7ce;
  color: #9c0006;
}

.severite_inconnue {
  text-align: center;
}

.severite_basse {
  text-align: center;
  background-color: #ffff00;
  color: white;
}

.severite_moyenne {
  text-align: center;
  background-color: #ed7d31;
  color: white;
}

.severite_haute {
  text-align: center;
  background-color: #ff0000;
  color: white;
}

.quota_inferieur {
  background-color: #ff0000;
  color: white;
}

.p-tag {
  margin-left: 2px;
  font-size: 10px;
  min-height: 24px;
  margin-top: 2px;
}

.mat-column-status {
  text-align: center;
  width: 100px;
}

.mat-column-branche {
   width: 80px;
   text-align: center;
}

.mat-column-actions {
  text-align: center;
  width: 100px;
}

.mat-column-codeAdherent {
  width: 128px;
}

.mat-column-codeGroupe {
  width: 100px;
}

.mat-column-codeStructure {
  width: 100px;
}

.mat-column-fonction {
  text-align: center;
  width: 80px;
}

.mat-column-fonctionSecondaire {
  text-align: center;
  width: 80px;
}

.mat-column-jeunes {
  text-align: center;
  width: 60px;
}

.mat-column-chefs {
  text-align: center;
  width: 60px;
}

.mat-column-ratio {
  text-align: center;
  width: 60px;
}

.mat-column-severite {
  text-align: center;
  width: 100px;
}

.mat-column-type {
  text-align: center;
  width: 120px;
}

.mat-column-nom {
  text-align: left;
}

.mat-column-prenom {
  text-align: left;
}

.mat-column-ageDirecteur {
  text-align: center;
  width: 80px;
}

.mat-column-age18ans1Juillet {
  text-align: center;
  width: 80px;
}

.mat-column-age {
  text-align: center;
  width: 60px;
}

.mat-column-ageCamp {
  text-align: center;
  width: 60px;
}

.mat-column-bafapotentiel {
  text-align: center;
}

.mat-column-quotaDir {
  text-align: center;
}

.mat-column-quotaEtape1 {
  text-align: center;
}

.mat-column-quotaEtape2_50 {
  text-align: center;
}

.mat-column-quotaEtape2_80 {
  text-align: center;
}

.mat-column-quotaPSC1 {
  text-align: center;
}

.mat-tooltip {
  white-space: pre-line;
}

.structure-groupe {
  font-weight: bold;
}

.structure-unite {
  font-weight: normal;
}

.multiselect-structure {
  min-width: 200px;
}

.mat-column-droitImage {
  text-align: center;
  width: 80px;
}

.mat-column-droitInformations {
  text-align: center;
  width: 80px;
}

.droits {
  background-color: #e2e2e2;
}

.jeunes {
  background-color: #e2e2e2;
}

.chefs {
  background-color: #e2e2e2;
}
