@import '../analytiscout.css';

.mat-column-brancheAnneeProchaine {
   text-align: center;
   width: 80px;
}

.mat-column-ageAnneeOk {
   text-align: center;
   width: 80px;
}

.mat-column-ageCampOk {
   text-align: center;
   width: 80px;
}

.jeune_check {
   background-color: #e2e2e2;
}

.mat-column-diplome_psc1 {
   text-align: center;
   width: 180px;
}