<div class="container-fluid">
  <p-treeSelect
    [disabled]="!menuReady"
    [(ngModel)]="selectedStructures"
    [options]="structures"
    display="chip"
    selectionMode="checkbox"
    placeholder="S&eacute;lectionner une ou plusieurs structures"
  ></p-treeSelect>
  <button
    [disabled]="this.selectedStructures.length === 0 || this.selectedStructures.length > 15"
    pButton
    type="button"
    label="Analyser"
    (click)="go(true)"
  ></button>
  <button [disabled]="this.selectedStructures.length === 0" pButton type="button" label="Effacer" (click)="clear()"></button>
</div>
<p-checkbox name="afficheNonAdherents" value="afficheNonAdherents" [binary]="true" (click)="go(false)" label="Inclure les non-adhérents" pTooltip="Affiche les adhérents pré-inscrits ou ayant quitté l'association" tooltipPosition="bottom" [(ngModel)]="afficheNonAdherents"></p-checkbox>
<p-divider></p-divider>

<ngx-ui-loader></ngx-ui-loader>

<p-toast position="bottom-center" key="tc"></p-toast>

<mat-tab-group animationDuration="0ms">
  <mat-tab>
    <ng-template mat-tab-label
      ><span
        pTooltip="Indique des informations g&eacute;n&eacute;rales ainsi que des informations d'&acirc;ge et de branches"
        tooltipPosition="bottom"
        >G&eacute;n&eacute;ral</span
      >
    </ng-template>
    <table mat-table #pSort="matSort" matSort matSortDisableClear [dataSource]="dataSource">
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let value">
          <fa-icon matTooltip="Adh&eacute;rent" matTooltipPosition="above" *ngIf="value.status == 'ADHERENT'" icon="user"></fa-icon>
          <fa-icon
            matTooltip="Pr&eacute;-inscrit"
            matTooltipPosition="above"
            *ngIf="value.status == 'PREINSCRIT'"
            [icon]="['far', 'user']"
          ></fa-icon>
          <fa-icon
            matTooltip="A quitté l'association"
            matTooltipPosition="above"
            *ngIf="value.status == 'A_QUITTE_L_ASSOCATION'"
            icon="user-slash"
          ></fa-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="codeAdherent">
        <th mat-header-cell *matHeaderCellDef>Code adh&eacute;rent</th>
        <td mat-cell *matCellDef="let value">{{ value.codeAdherent }}</td>
      </ng-container>
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let value">{{ value.nom }}</td>
      </ng-container>
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pr&eacute;nom</th>
        <td mat-cell *matCellDef="let value">{{ value.prenom }}</td>
      </ng-container>
      <ng-container matColumnDef="nomStructure">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit&eacute;</th>
        <td mat-cell *matCellDef="let value">{{ value.nomStructure }}</td>
      </ng-container>
      <ng-container matColumnDef="codeGroupe">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code Groupe</th>
        <td mat-cell *matCellDef="let value">{{ value.codeGroupe }}</td>
      </ng-container>
      <ng-container matColumnDef="codeStructure">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code Structure</th>
        <td mat-cell *matCellDef="let value">{{ value.codeStructure }}</td>
      </ng-container>
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="age">Age</th>
        <td mat-cell *matCellDef="let value">{{ value.age | toFixed: 0:0 }}</td>
      </ng-container>
      <ng-container matColumnDef="ageCamp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="ageCamp">Age au<br />camp</th>
        <td mat-cell *matCellDef="let value">{{ value.ageCamp | toFixed: 0:0 }}</td>
      </ng-container>
      <ng-container matColumnDef="branche">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Branche</th>
        <td mat-cell *matCellDef="let value" [ngClass]="value.branche_classe">{{ value.branche_abreviation }}</td>
      </ng-container>
      <ng-container matColumnDef="brancheAnneeProchaine">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Branche<br />Ann&eacute;e N+1</th>
        <td mat-cell *matCellDef="let value" [ngClass]="value.brancheAnneeProchaine_classe">
          {{ value.brancheAnneeProchaine_abreviation }}
        </td>
      </ng-container>
      <ng-container matColumnDef="ageAnneeOk">
        <th mat-header-cell *matHeaderCellDef>Age Ann&eacute;e<br />OK ?</th>
        <td mat-cell *matCellDef="let value" class="jeune_check"><fa-icon *ngIf="value.ageAnneeOk" icon="check"></fa-icon></td>
      </ng-container>
      <ng-container matColumnDef="ageCampOk">
        <th mat-header-cell *matHeaderCellDef>Age Ann&eacute;e N+1 OK ?</th>
        <td mat-cell *matCellDef="let value" class="jeune_check"><fa-icon *ngIf="value.ageCampOk" icon="check"></fa-icon></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label
      ><span pTooltip="Indique des informations li&eacute;es &agrave; des dipl&ocirc;mes divers." tooltipPosition="bottom"
        >Dipl&ocirc;mes divers</span
      >
    </ng-template>
    <table mat-table #diversSort="matSort" matSort matSortDisableClear [dataSource]="dataSourceDivers" multiTemplateDataRows>
      <ng-container matColumnDef="codeAdherent">
        <th mat-header-cell *matHeaderCellDef>Code adh&eacute;rent</th>
        <td mat-cell *matCellDef="let value">{{ value.codeAdherent }}</td>
      </ng-container>
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let value">{{ value.nom }}</td>
      </ng-container>
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pr&eacute;nom</th>
        <td mat-cell *matCellDef="let value">{{ value.prenom }}</td>
      </ng-container>
      <ng-container matColumnDef="fonction">
        <th mat-header-cell *matHeaderCellDef class="titre_table">Fonction</th>
        <td
          mat-cell
          [matTooltip]="value.fonction"
          matTooltipPosition="above"
          class="fonction"
          [ngClass]="value.codeFonction_classe"
          *matCellDef="let value"
        >
          {{ value.codeFonctionComplet }}
        </td>
      </ng-container>
      <ng-container matColumnDef="diplome_psc1">
        <th mat-header-cell *matHeaderCellDef>PSC1</th>
        <td mat-cell *matCellDef="let value">
          <fa-icon *ngIf="value.psc1" icon="check"></fa-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsDiplomesDivers"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsDiplomesDivers"></tr>
    </table>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label
      ><span pTooltip="Indique des informations li&eacute;es aux comp&eacute;tences marines." tooltipPosition="bottom"
        >Comp&eacute;tences marines</span
      >
    </ng-template>
    <table mat-table #marinsSort="matSort" matSort matSortDisableClear [dataSource]="dataSourceMarins">
      <ng-container matColumnDef="codeAdherent">
        <th mat-header-cell *matHeaderCellDef>Code adh&eacute;rent</th>
        <td mat-cell *matCellDef="let value">{{ value.codeAdherent }}</td>
      </ng-container>
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let value">{{ value.nom }}</td>
      </ng-container>
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pr&eacute;nom</th>
        <td mat-cell *matCellDef="let value">{{ value.prenom }}</td>
      </ng-container>
      <ng-container matColumnDef="unite">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit&eacute;</th>
        <td mat-cell *matCellDef="let value">{{ value.nomStructure }}</td>
      </ng-container>
      <ng-container matColumnDef="codeGroupe">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code Groupe</th>
        <td mat-cell *matCellDef="let value">{{ value.codeGroupe }}</td>
      </ng-container>
      <ng-container matColumnDef="codeStructure">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code Structure</th>
        <td mat-cell *matCellDef="let value">{{ value.codeStructure }}</td>
      </ng-container>
      <ng-container matColumnDef="fonction">
        <th mat-header-cell *matHeaderCellDef class="titre_table">Fonction</th>
        <td
          [matTooltip]="value.fonction"
          matTooltipPosition="above"
          mat-cell
          class="fonction"
          [ngClass]="value.codeFonction_classe"
          *matCellDef="let value"
        >
          {{ value.codeFonctionComplet }}
        </td>
      </ng-container>
      <ng-container matColumnDef="fonctionSecondaire" class="table-row">
        <th mat-header-cell *matHeaderCellDef class="titre_table" mat-sort-header>Fonction<br />Secondaire</th>
        <td
          mat-cell
          [matTooltip]="value.fonctionSecondaire"
          matTooltipPosition="above"
          class="fonction"
          [ngClass]="value.codeFonctionSecondaire_classe"
          *matCellDef="let value"
        >
          {{ value.codeFonctionSecondaireComplet }}
        </td>
      </ng-container>
      <ng-container matColumnDef="pe">
        <th mat-header-cell class="formation" *matHeaderCellDef>Patron<br />d'embarcation</th>
        <td mat-cell class="check" *matCellDef="let value">
          <span
            class="p-tag p-tag-rounded p-tag-success"
            matTooltipPosition="above"
            *ngIf="value.formationPe"
            [matTooltip]="value.formationPe.type + ' - ' + value.formationPe.date"
            >F</span
          >
          <span
            class="p-tag p-tag-rounded p-tag-success"
            matTooltipPosition="above"
            *ngIf="value.diplomePe"
            [matTooltip]="value.diplomePe.type + ' - ' + value.diplomePe.date"
            >D</span
          >
        </td>
      </ng-container>
      <ng-container matColumnDef="cq">
        <th mat-header-cell class="formation" *matHeaderCellDef>Chef de<br />quart</th>
        <td mat-cell class="check" *matCellDef="let value">
          <span
            class="p-tag p-tag-rounded p-tag-success"
            matTooltipPosition="above"
            *ngIf="value.formationCq"
            [matTooltip]="value.formationCq.type + ' - ' + value.formationCq.date"
            >F</span
          >
          <span
            class="p-tag p-tag-rounded p-tag-success"
            matTooltipPosition="above"
            *ngIf="value.diplomeCq"
            [matTooltip]="value.diplomeCq.type + ' - ' + value.diplomeCq.date"
            >D</span
          >
        </td>
      </ng-container>
      <ng-container matColumnDef="cf">
        <th mat-header-cell class="formation" *matHeaderCellDef>Chef de<br />flottille</th>
        <td mat-cell class="check" *matCellDef="let value">
          <span
            class="p-tag p-tag-rounded p-tag-success"
            matTooltipPosition="above"
            *ngIf="value.formationCf"
            [matTooltip]="value.formationCf.type + ' - ' + value.formationCf.date"
            >F</span
          >
          <span
            class="p-tag p-tag-rounded p-tag-success"
            matTooltipPosition="above"
            *ngIf="value.diplomeCf"
            [matTooltip]="value.diplomeCf.type + ' - ' + value.diplomeCf.date"
            >D</span
          >
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsMarins"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsMarins"></tr>
    </table>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label
      ><span
        pTooltip="Indique d'&eacute;ventuels points d'attention sur certaines incoh&eacute;rences dans l'intranet, probl&egrave;me d'&acirc;ge..."
        tooltipPosition="bottom"
        >Alertes</span
      >
    </ng-template>
    <table mat-table #alertesSort="matSort" matSort matSortDisableClear [dataSource]="dataSourceAlertes">
      <ng-container matColumnDef="codeAdherent">
        <th mat-header-cell *matHeaderCellDef>Code adh&eacute;rent</th>
        <td mat-cell *matCellDef="let value">{{ value.adherent.codeAdherent }}</td>
      </ng-container>
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let value" mat-sort-header>{{ value.adherent.nom }}</td>
      </ng-container>
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef>Pr&eacute;nom</th>
        <td mat-cell *matCellDef="let value" mat-sort-header>{{ value.adherent.prenom }}</td>
      </ng-container>
      <ng-container matColumnDef="unite">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit&eacute;</th>
        <td mat-cell *matCellDef="let value">{{ value.adherent.nomStructure }}</td>
      </ng-container>
      <ng-container matColumnDef="codeGroupe">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code Groupe</th>
        <td mat-cell *matCellDef="let value">{{ value.adherent.codeGroupe }}</td>
      </ng-container>
      <ng-container matColumnDef="codeStructure">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code Structure</th>
        <td mat-cell *matCellDef="let value">{{ value.adherent.codeStructure }}</td>
      </ng-container>
      <ng-container matColumnDef="branche">
        <th mat-header-cell *matHeaderCellDef>Branche</th>
        <td
          mat-cell
          [matTooltip]="value.fonction"
          matTooltipPosition="above"
          class="fonction"
          [ngClass]="value.branche_classe"
          *matCellDef="let value"
        >
          {{ value.adherent.branche_abreviation }}
        </td>
      </ng-container>
      <ng-container matColumnDef="severite">
        <th mat-header-cell *matHeaderCellDef>S&eacute;v&eacute;rit&eacute;</th>
        <td mat-cell [ngClass]="value.severite_classe" *matCellDef="let value">{{ value.severite }}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let value">{{ value.type }}</td>
      </ng-container>
      <ng-container matColumnDef="alerte">
        <th mat-header-cell *matHeaderCellDef>Alerte</th>
        <td mat-cell *matCellDef="let value">{{ value.message }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsAlertes"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsAlertes"></tr>
    </table>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label
      ><span pTooltip="Indique si le jeune peut apparaitre sur les photos ou des reportages TV par exemple" tooltipPosition="bottom"
        >Droits</span
      >
    </ng-template>
    <table mat-table #droitsSort="matSort" matSort matSortDisableClear [dataSource]="dataSourceDroits">
      <ng-container matColumnDef="codeAdherent">
        <th mat-header-cell *matHeaderCellDef>Code adh&eacute;rent</th>
        <td mat-cell *matCellDef="let value">{{ value.codeAdherent }}</td>
      </ng-container>
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let value">{{ value.nom }}</td>
      </ng-container>
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pr&eacute;nom</th>
        <td mat-cell *matCellDef="let value">{{ value.prenom }}</td>
      </ng-container>
      <ng-container matColumnDef="unite">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit&eacute;</th>
        <td mat-cell *matCellDef="let value">{{ value.nomStructure }}</td>
      </ng-container>
      <ng-container matColumnDef="codeGroupe">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code Groupe</th>
        <td mat-cell *matCellDef="let value">{{ value.codeGroupe }}</td>
      </ng-container>
      <ng-container matColumnDef="codeStructure">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code Structure</th>
        <td mat-cell *matCellDef="let value">{{ value.codeStructure }}</td>
      </ng-container>
      <ng-container matColumnDef="fonction">
        <th mat-header-cell *matHeaderCellDef class="titre_table">Fonction</th>
        <td
          [matTooltip]="value.fonction"
          matTooltipPosition="above"
          mat-cell
          class="fonction"
          [ngClass]="value.codeFonction_classe"
          *matCellDef="let value"
        >
          {{ value.codeFonctionComplet }}
        </td>
      </ng-container>
      <ng-container matColumnDef="fonctionSecondaire" class="table-row">
        <th mat-header-cell *matHeaderCellDef class="titre_table">Fonction<br />Secondaire</th>
        <td
          mat-cell
          [matTooltip]="value.fonctionSecondaire"
          matTooltipPosition="above"
          class="fonction"
          [ngClass]="value.codeFonctionSecondaire_classe"
          *matCellDef="let value"
        >
          {{ value.codeFonctionSecondaireComplet }}
        </td>
      </ng-container>
      <ng-container matColumnDef="branche">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Branche</th>
        <td mat-cell *matCellDef="let value" [ngClass]="value.branche_classe">{{ value.branche_abreviation }}</td>
      </ng-container>
      <ng-container matColumnDef="droitImage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Droit à l'image</th>
        <td mat-cell class="droits" *matCellDef="let value">
          <fa-icon *ngIf="value.droitImage" icon="check"></fa-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="droitInformations">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Droit informations</th>
        <td mat-cell class="droits" *matCellDef="let value">
          <fa-icon *ngIf="value.droitInformations" icon="check"></fa-icon></td
      ></ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsDroits"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsDroits"></tr>
    </table>
  </mat-tab>
</mat-tab-group>
