@import '../analytiscout.css';

.mat-column-psc1, .mat-column-dirsf, .mat-column-animsf, .mat-column-apf, .mat-column-tech, .mat-column-appro {
   text-align: center;
   width: 80px;
}

.mat-column-formations {
   text-align: center;
}

.mat-column-formation_elam {
   text-align: center;
   width: 180px;
}

.mat-column-formation_ebienvenue {
   text-align: center;
   width: 180px;
}

.mat-column-formation_apf {
   text-align: center;
   width: 60px;
}

.mat-column-formation_tech {
   text-align: center;
   width: 60px;
}

.mat-column-formation_appro {
   text-align: center;
   width: 60px;
}

.mat-column-qualificationsDir {
   text-align: center;
   width: 60px;
}

.mat-column-qualificationsAnim {
   text-align: center;
   width: 60px;
}

.mat-column-bafapotentiel {
   text-align: center;
   width: 120px;
}

.fqd-element-row td {
  border-bottom-width: 0;
}

.fqd-element-detail {
  overflow: hidden;
  display: flex;
}

.fqd-element-description {
  padding: 8px;
  width: 100%;
}

tr.fqd-detail-row {
  height: 0;
}

.synthese-unite-element-row td {
  border-bottom-width: 0;
}

.synthese-unite-element-detail {
  overflow: hidden;
  display: flex;
}

.synthese-unite-element-description {
  padding: 8px;
  width: 100%;
}

tr.synthese-unite-detail-row {
  height: 0;
}

.quota-unite-element-row td {
  border-bottom-width: 0;
}

.quota-unite-element-detail {
  overflow: hidden;
  display: flex;
}

.quota-unite-element-description {
  padding: 8px;
  width: 100%;
}

tr.quota-unite-detail-row {
  height: 0;
}

.quota-annee-element-row td {
  border-bottom-width: 0;
}

.quota-annee-element-detail {
  overflow: hidden;
  display: flex;
}

.quota-annee-element-description {
  padding: 8px;
  width: 100%;
}

tr.quota-annee-detail-row {
  height: 0;
}

.responsable_check {
 background-color: #e2e2e2;
}

.js {
 background-color: #e2e2e2;
}