<div>
  <button pButton type="button" icon="pi pi-times" [hidden]="!isEnf()" [disabled]="structureChargee === undefined"
    pTooltip="Effacer la structure charg&eacute;e" tooltipPosition="bottom"
    (click)="clearStructureChargee(false)"></button>
  <button pButton type="button" icon="pi pi-search" [hidden]="!isEnf()" pTooltip="Charger une structure"
    tooltipPosition="bottom" (click)="chargerStructure()"></button>
  <p-treeSelect [disabled]="!menuReady" [(ngModel)]="selectedStructures" [options]="structures" selectionMode="checkbox"
    placeholder="S&eacute;lectionner une ou plusieurs structures"></p-treeSelect>
  <button [disabled]="this.selectedStructures.length === 0" pButton type="button" label="Analyser"
    pTooltip="Analyser les structures sélectionnées" tooltipPosition="bottom" (click)="go(true)"></button>
  <button [disabled]="this.selectedStructures.length === 0" pButton pTooltip="Effacer l'analyse"
    tooltipPosition="bottom" type="button" label="Effacer" (click)="clear()"></button>
</div>
<p-checkbox name="afficheNonAdherents" value="afficheNonAdherents" [binary]="true" (click)="go(false)"
  label="Inclure les non-adhérents" pTooltip="Affiche les adhérents pré-inscrits ou ayant quitté l'association"
  tooltipPosition="bottom" [(ngModel)]="afficheNonAdherents"></p-checkbox>
<p-divider></p-divider>
<ngx-ui-loader></ngx-ui-loader>

<p-dialog header="Charger une structure" [(visible)]="displayChargerStructure" [style]="{ width: '75%' }">
  <span class="p-float-label" style="margin-top: 10px">
    <p-inputNumber inputId="inputnumber" [(ngModel)]="structureChargee"></p-inputNumber>
    <label for="inputnumber">Code de structure</label>
  </span>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="goChargerStructure()" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>

<p-toast position="bottom-center" key="tc"></p-toast>
<mat-tab-group animationDuration="0ms">
  <mat-tab>
    <ng-template mat-tab-label><span
        pTooltip="Indique des informations g&eacute;n&eacute;rales ainsi que le fait que le responsable peut être directeur de camp en fonction de son &acirc;ge au 1er juillet : 19 ans pour LJ/SG et 21 ans pour Pios/Caras"
        tooltipPosition="bottom">G&eacute;n&eacute;ral</span>
    </ng-template>
    <table mat-table #pSort="matSort" matSort matSortDisableClear [dataSource]="dataSource">
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let value">
          <fa-icon matTooltip="Adh&eacute;rent" matTooltipPosition="above" *ngIf="value.status == 'ADHERENT'"
            icon="user"></fa-icon>
          <fa-icon matTooltip="Pr&eacute;-inscrit" matTooltipPosition="above" *ngIf="value.status == 'PREINSCRIT'"
            [icon]="['far', 'user']"></fa-icon>
          <fa-icon matTooltip="A quitté l'association" matTooltipPosition="above"
            *ngIf="value.status == 'A_QUITTE_L_ASSOCATION'" icon="user-slash"></fa-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="codeAdherent">
        <th mat-header-cell *matHeaderCellDef>Code adh&eacute;rent</th>
        <td mat-cell *matCellDef="let value">{{ value.codeAdherent }}</td>
      </ng-container>
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let value">{{ value.nom }}</td>
      </ng-container>
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pr&eacute;nom</th>
        <td mat-cell *matCellDef="let value">{{ value.prenom }}</td>
      </ng-container>
      <ng-container matColumnDef="nomStructure">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit&eacute;</th>
        <td mat-cell *matCellDef="let value">{{ value.nomStructure }}</td>
      </ng-container>
      <ng-container matColumnDef="codeGroupe">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code Groupe</th>
        <td mat-cell *matCellDef="let value">{{ value.codeGroupe }}</td>
      </ng-container>
      <ng-container matColumnDef="codeStructure">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code Structure</th>
        <td mat-cell *matCellDef="let value">{{ value.codeStructure }}</td>
      </ng-container>
      <ng-container matColumnDef="fonction">
        <th mat-header-cell *matHeaderCellDef class="titre_table" mat-sort-header="codeFonctionComplet">Fonction</th>
        <td [matTooltip]="value.fonction" matTooltipPosition="above" mat-cell class="fonction"
          [ngClass]="value.codeFonction_classe" *matCellDef="let value">
          {{ value.codeFonctionComplet }}
        </td>
      </ng-container>
      <ng-container matColumnDef="fonctionSecondaire" class="table-row">
        <th mat-header-cell *matHeaderCellDef class="titre_table" mat-sort-header>Fonction<br />Secondaire</th>
        <td mat-cell [matTooltip]="value.fonctionSecondaire" matTooltipPosition="above" class="fonction"
          [ngClass]="value.codeFonctionSecondaire_classe" *matCellDef="let value">
          {{ value.codeFonctionSecondaireComplet }}
        </td>
      </ng-container>
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="age">Age</th>
        <td mat-cell *matCellDef="let value">{{ value.age | toFixed: 0:0 }}</td>
      </ng-container>
      <ng-container matColumnDef="ageDirecteur">
        <th mat-header-cell *matHeaderCellDef>18 ans au<br />1er Juillet<br />prochain ?</th>
        <td mat-cell class="responsable_check" *matCellDef="let value">
          <fa-icon *ngIf="value.age18ans1Juillet" icon="check"></fa-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="age18ans1Juillet">
        <th mat-header-cell *matHeaderCellDef>Age ok<br />comme<br />directeur ?</th>
        <td mat-cell class="responsable_check" *matCellDef="let value">
          <fa-icon *ngIf="value.ageDirecteur" icon="check"></fa-icon>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label><span
        pTooltip="Indique des informations li&eacute;es aux formations, dipl&ocirc;mes et qualifications. Indiquent la date d'expiration de la qualification. Si le fond est rouge, la qualification a déjà expir&eacute;, si le fond est orange, la qualification expirera avant le 1er."
        tooltipPosition="bottom">Formations, Qualifications, &amp; Dipl&ocirc;mes</span>
    </ng-template>
    <table mat-table #fqdSort="matSort" matSort matSortDisableClear [dataSource]="dataSourceFqd" multiTemplateDataRows>
      <ng-container matColumnDef="codeAdherent">
        <th mat-header-cell *matHeaderCellDef>Code adh&eacute;rent</th>
        <td mat-cell *matCellDef="let value">{{ value.codeAdherent }}</td>
      </ng-container>
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let value">{{ value.nom }}</td>
      </ng-container>
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef>Pr&eacute;nom</th>
        <td mat-cell *matCellDef="let value">{{ value.prenom }}</td>
      </ng-container>
      <ng-container matColumnDef="fonction">
        <th mat-header-cell *matHeaderCellDef class="titre_table">Fonction</th>
        <td mat-cell [matTooltip]="value.fonction" matTooltipPosition="above" class="fonction"
          [ngClass]="value.codeFonction_classe" *matCellDef="let value">
          {{ value.codeFonctionComplet }}
        </td>
      </ng-container>
      <ng-container matColumnDef="qualificationsDir">
        <th mat-header-cell class="titre_table" *matHeaderCellDef>DIR SF</th>
        <td mat-cell class="qualification" *matCellDef="let value">
          <span *ngIf="value.qualificationDir !== null" class="p-tag p-tag-rounded p-tag-success"
            matTooltipPosition="above" [ngClass]="value.qualificationDir.etat_classe"
            [matTooltip]="value.qualificationDir.date">{{ value.qualificationDir.titulaire ? 'T' : 'S' }}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="qualificationsAnim">
        <th mat-header-cell class="titre_table" *matHeaderCellDef>ANIM SF</th>
        <td mat-cell class="qualification" *matCellDef="let value">
          <span *ngIf="value.qualificationAnim !== null" class="p-tag p-tag-rounded p-tag-success"
            matTooltipPosition="above" [ngClass]="value.qualificationAnim.etat_classe"
            [matTooltip]="value.qualificationAnim.type + ' - ' + value.qualificationAnim.date">{{
            value.qualificationAnim.titulaire ? 'T' : 'S' }}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="bafapotentiel">
        <th mat-header-cell class="qualification" *matHeaderCellDef>Stagiaire BAFA<br />potentiel</th>
        <td mat-cell class="check" *matCellDef="let value">
          <fa-icon *ngIf="value.bafapotentiel" icon="check"></fa-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="diplomes">
        <th mat-header-cell class="titre_table" *matHeaderCellDef>Dipl&ocirc;mes</th>
        <td mat-cell class="diplome" *matCellDef="let value">
          <span *ngFor="let diplome of value.diplomes">
            <span class="p-tag p-tag-rounded p-tag-success" matTooltipPosition="above"
              *ngIf="diplome.iSgdfType === null && diplome.iFaType === null"
              [matTooltip]="diplome.type + ' - ' + diplome.date">{{ diplome.tType }}</span>
            <i *ngIf="diplome.iSgdfType !== null && diplome.iSgdfClasseLarge === false" matTooltipPosition="above"
              class="icone_diplome" [matTooltip]="diplome.type + ' - ' + diplome.date" [class]="diplome.iSgdfType"></i>
            <i *ngIf="diplome.iSgdfType !== null && diplome.iSgdfClasseLarge === true" matTooltipPosition="above"
              class="icone_diplome_sgdf_large" [matTooltip]="diplome.type + ' - ' + diplome.date"
              [class]="diplome.iSgdfType"></i>
            <fa-icon *ngIf="diplome.iFaType !== null" [icon]="diplome.iFaType" class="icone_diplome"
              matTooltipPosition="above" [matTooltip]="diplome.type + ' - ' + diplome.date"
              [fixedWidth]="true"></fa-icon>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="formation_apf">
        <th mat-header-cell class="titre_table" *matHeaderCellDef>APF</th>
        <td mat-cell class="formation" *matCellDef="let value">
          <fa-icon *ngIf="value.apf" icon="check"></fa-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="formation_tech">
        <th mat-header-cell class="titre_table" *matHeaderCellDef>TECH</th>
        <td mat-cell class="formation" *matCellDef="let value">
          <fa-icon *ngIf="value.tech" icon="check"></fa-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="formation_appro">
        <th mat-header-cell class="titre_table" *matHeaderCellDef>APPRO</th>
        <td mat-cell class="formation" *matCellDef="let value">
          <fa-icon *ngIf="value.appro" icon="check"></fa-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="padding-right: 5px; text-align: center">
          <button *ngIf="!allExpandedFqd" class="button_table float-right" type="submit" (click)="toggleAllFqd(true)">
            <fa-icon icon="angle-double-down"></fa-icon>
          </button>
          <button *ngIf="allExpandedFqd" class="button_table float-right" type="submit" (click)="toggleAllFqd(false)">
            <fa-icon icon="angle-double-up"></fa-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let value; let i = dataIndex" style="padding-right: 5px; text-align: center">
          <button [disabled]="value.formations.length === 0" *ngIf="expandedFqd[i] === true" class="float-right"
            type="submit" matTooltipPosition="above" matTooltip="Cacher les formations" (click)="toggleFqd(i)">
            <fa-icon icon="angle-up"></fa-icon>
          </button>
          <button [disabled]="value.formations.length === 0" *ngIf="expandedFqd[i] === false" class="float-right"
            type="submit" matTooltipPosition="above" matTooltip="Afficher les formations" (click)="toggleFqd(i)">
            <fa-icon icon="angle-down"></fa-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let value; let i = dataIndex" [attr.colspan]="displayedColumnsFqd.length">
          <div class="fqd-element-detail" [@detailExpand]="expandedFqd[i] === true ? 'expanded' : 'collapsed'">
            <div class="fqd-element-description">
              <span *ngFor="let formation of value.formations">
                <span>{{ formation.date }} : {{ formation.type }} {{ formation.formateur ? ' (Formateur)' : ''
                  }}</span><br />
              </span>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsFqd"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsFqd; let i = dataIndex" class="fqd-element-row"
        [class.fqd-expanded-row]="expandedFqd[i] === true"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="fqd-detail-row"></tr>
    </table>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label><span pTooltip="Indique des informations li&eacute;es &agrave; des formations diverses."
        tooltipPosition="bottom">Formations diverses</span>
    </ng-template>
    <table mat-table #diversSort="matSort" matSort matSortDisableClear [dataSource]="dataSourceDivers"
      multiTemplateDataRows>
      <ng-container matColumnDef="codeAdherent">
        <th mat-header-cell *matHeaderCellDef>Code adh&eacute;rent</th>
        <td mat-cell *matCellDef="let value">{{ value.codeAdherent }}</td>
      </ng-container>
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let value">{{ value.nom }}</td>
      </ng-container>
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pr&eacute;nom</th>
        <td mat-cell *matCellDef="let value">{{ value.prenom }}</td>
      </ng-container>
      <ng-container matColumnDef="fonction">
        <th mat-header-cell *matHeaderCellDef class="titre_table">Fonction</th>
        <td mat-cell [matTooltip]="value.fonction" matTooltipPosition="above" class="fonction"
          [ngClass]="value.codeFonction_classe" *matCellDef="let value">
          {{ value.codeFonctionComplet }}
        </td>
      </ng-container>
      <ng-container matColumnDef="formation_elam">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>E-LEARNING À L’ABRI DE LA MALTRAITANCE</th>
        <td mat-cell *matCellDef="let value">
          <fa-icon *ngIf="testFormation(value.formations, 'E-LEARNING À L’ABRI DE LA MALTRAITANCE', false)"
            icon="check"></fa-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="formation_ebienvenue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>E-LEARNING SGDF BIENVENUE</th>
        <td mat-cell *matCellDef="let value">
          <fa-icon *ngIf="testFormation(value.formations, 'E-LEARNING SGDF BIENVENUE', false)" icon="check"></fa-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsFormationsDiverses"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsFormationsDiverses"></tr>
    </table>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label><span pTooltip="Indique des informations li&eacute;es aux comp&eacute;tences marines."
        tooltipPosition="bottom">Comp&eacute;tences marines</span>
    </ng-template>
    <table mat-table #marinsSort="matSort" matSort matSortDisableClear [dataSource]="dataSourceMarins">
      <ng-container matColumnDef="codeAdherent">
        <th mat-header-cell *matHeaderCellDef>Code adh&eacute;rent</th>
        <td mat-cell *matCellDef="let value">{{ value.codeAdherent }}</td>
      </ng-container>
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let value">{{ value.nom }}</td>
      </ng-container>
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pr&eacute;nom</th>
        <td mat-cell *matCellDef="let value">{{ value.prenom }}</td>
      </ng-container>
      <ng-container matColumnDef="nomStructure">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit&eacute;</th>
        <td mat-cell *matCellDef="let value">{{ value.nomStructure }}</td>
      </ng-container>
      <ng-container matColumnDef="codeGroupe">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code Groupe</th>
        <td mat-cell *matCellDef="let value">{{ value.codeGroupe }}</td>
      </ng-container>
      <ng-container matColumnDef="codeStructure">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code Structure</th>
        <td mat-cell *matCellDef="let value">{{ value.codeStructure }}</td>
      </ng-container>
      <ng-container matColumnDef="fonction">
        <th mat-header-cell *matHeaderCellDef class="titre_table">Fonction</th>
        <td [matTooltip]="value.fonction" matTooltipPosition="above" mat-cell class="fonction"
          [ngClass]="value.codeFonction_classe" *matCellDef="let value">
          {{ value.codeFonctionComplet }}
        </td>
      </ng-container>
      <ng-container matColumnDef="fonctionSecondaire" class="table-row">
        <th mat-header-cell *matHeaderCellDef class="titre_table" mat-sort-header>Fonction<br />Secondaire</th>
        <td mat-cell [matTooltip]="value.fonctionSecondaire" matTooltipPosition="above" class="fonction"
          [ngClass]="value.codeFonctionSecondaire_classe" *matCellDef="let value">
          {{ value.codeFonctionSecondaireComplet }}
        </td>
      </ng-container>
      <ng-container matColumnDef="pe">
        <th mat-header-cell class="formation" *matHeaderCellDef>Patron<br />d'embarcation</th>
        <td mat-cell class="check" *matCellDef="let value">
          <span class="p-tag p-tag-rounded p-tag-success" matTooltipPosition="above" *ngIf="value.formationPe"
            [matTooltip]="value.formationPe.type + ' - ' + value.formationPe.date">F</span>
          <span class="p-tag p-tag-rounded p-tag-success" matTooltipPosition="above" *ngIf="value.diplomePe"
            [matTooltip]="value.diplomePe.type + ' - ' + value.diplomePe.date">D</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="cq">
        <th mat-header-cell class="formation" *matHeaderCellDef>Chef de<br />quart</th>
        <td mat-cell class="check" *matCellDef="let value">
          <span class="p-tag p-tag-rounded p-tag-success" matTooltipPosition="above" *ngIf="value.formationCq"
            [matTooltip]="value.formationCq.type + ' - ' + value.formationCq.date">F</span>
          <span class="p-tag p-tag-rounded p-tag-success" matTooltipPosition="above" *ngIf="value.diplomeCq"
            [matTooltip]="value.diplomeCq.type + ' - ' + value.diplomeCq.date">D</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="cf">
        <th mat-header-cell class="formation" *matHeaderCellDef>Chef de<br />flottille</th>
        <td mat-cell class="check" *matCellDef="let value">
          <span class="p-tag p-tag-rounded p-tag-success" matTooltipPosition="above" *ngIf="value.formationCf"
            [matTooltip]="value.formationCf.type + ' - ' + value.formationCf.date">F</span>
          <span class="p-tag p-tag-rounded p-tag-success" matTooltipPosition="above" *ngIf="value.diplomeCf"
            [matTooltip]="value.diplomeCf.type + ' - ' + value.diplomeCf.date">D</span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsMarins"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsMarins"></tr>
    </table>
  </mat-tab>
  <mat-tab *ngIf="
      !selectedStructuresContainsBranche(undefined) &&
      (selectedStructuresContainsBranche('ADULTE') || selectedStructuresContainsBranche('FARFADET'))
    " label="Farfadets">
    <table mat-table #farfadetsSort="matSort" matSort matSortDisableClear [dataSource]="dataSourceFarfadets">
      <ng-container matColumnDef="codeAdherent">
        <th mat-header-cell *matHeaderCellDef>Code adh&eacute;rent</th>
        <td mat-cell *matCellDef="let value">{{ value.codeAdherent }}</td>
      </ng-container>
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let value">{{ value.nom }}</td>
      </ng-container>
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pr&eacute;nom</th>
        <td mat-cell *matCellDef="let value">{{ value.prenom }}</td>
      </ng-container>
      <ng-container matColumnDef="fonction">
        <th mat-header-cell *matHeaderCellDef class="titre_table">Fonction</th>
        <td mat-cell [matTooltip]="value.fonction" matTooltipPosition="above" class="fonction"
          [ngClass]="value.codeFonction_classe" *matCellDef="let value">
          {{ value.codeFonctionComplet }}
        </td>
      </ng-container>
      <ng-container matColumnDef="formations">
        <th mat-header-cell class="titre_table" *matHeaderCellDef mat-sort-header>Formations</th>
        <td mat-cell class="formation" *matCellDef="let value">
          <span class="p-tag p-tag-rounded p-tag-success" matTooltipPosition="above"
            *ngFor="let formation of value.formationsFarfadets"
            [matTooltip]="formation.type + ' - ' + formation.date">{{ formation.tType }}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="diplomes">
        <th mat-header-cell class="titre_table" *matHeaderCellDef>Dipl&ocirc;mes</th>
        <td mat-cell class="diplome" *matCellDef="let value">
          <span *ngFor="let diplome of value.diplomesCompas">
            <span class="p-tag p-tag-rounded p-tag-success" matTooltipPosition="above"
              *ngIf="diplome.iSgdfType === null && diplome.iFaType === null"
              [matTooltip]="diplome.type + ' - ' + diplome.date">{{ diplome.tType }}</span>
            <i *ngIf="diplome.iSgdfType !== null && diplome.iSgdfClasseLarge === false" matTooltipPosition="above"
              class="icone_diplome" [matTooltip]="diplome.type + ' - ' + diplome.date" [class]="diplome.iSgdfType"></i>
            <i *ngIf="diplome.iSgdfType !== null && diplome.iSgdfClasseLarge === true" matTooltipPosition="above"
              class="icone_diplome_sgdf_large" [matTooltip]="diplome.type + ' - ' + diplome.date"
              [class]="diplome.iSgdfType"></i>
            <fa-icon *ngIf="diplome.iFaType !== null" [icon]="diplome.iFaType" class="icone_diplome"
              matTooltipPosition="above" [matTooltip]="diplome.type + ' - ' + diplome.date"
              [fixedWidth]="true"></fa-icon>
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsfarfadets"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsfarfadets"></tr>
    </table>
  </mat-tab>
  <mat-tab *ngIf="
      !selectedStructuresContainsBranche(undefined) &&
      (selectedStructuresContainsBranche('ADULTE') || selectedStructuresContainsBranche('COMPAGNON'))
    " label="Compas">
    <table mat-table #compasSort="matSort" matSort matSortDisableClear [dataSource]="dataSourceCompas">
      <ng-container matColumnDef="codeAdherent">
        <th mat-header-cell *matHeaderCellDef>Code adh&eacute;rent</th>
        <td mat-cell *matCellDef="let value">{{ value.codeAdherent }}</td>
      </ng-container>
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let value">{{ value.nom }}</td>
      </ng-container>
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pr&eacute;nom</th>
        <td mat-cell *matCellDef="let value">{{ value.prenom }}</td>
      </ng-container>
      <ng-container matColumnDef="formations">
        <th mat-header-cell class="titre_table" *matHeaderCellDef>Formations</th>
        <td mat-cell class="formation" *matCellDef="let value">
          <span class="p-tag p-tag-rounded p-tag-success" matTooltipPosition="above"
            *ngFor="let formation of value.formationsCompas" [matTooltip]="formation.type + ' - ' + formation.date">{{
            formation.tType }}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="diplomes">
        <th mat-header-cell class="titre_table" *matHeaderCellDef>Dipl&ocirc;mes</th>
        <td mat-cell class="diplome" *matCellDef="let value">
          <span *ngFor="let diplome of value.diplomesCompas">
            <span class="p-tag p-tag-rounded p-tag-success" matTooltipPosition="above"
              *ngIf="diplome.iSgdfType === null && diplome.iFaType === null"
              [matTooltip]="diplome.type + ' - ' + diplome.date">{{ diplome.tType }}</span>
            <i *ngIf="diplome.iSgdfType !== null && diplome.iSgdfClasseLarge === false" matTooltipPosition="above"
              class="icone_diplome" [matTooltip]="diplome.type + ' - ' + diplome.date" [class]="diplome.iSgdfType"></i>
            <i *ngIf="diplome.iSgdfType !== null && diplome.iSgdfClasseLarge === true" matTooltipPosition="above"
              class="icone_diplome_sgdf_large" [matTooltip]="diplome.type + ' - ' + diplome.date"
              [class]="diplome.iSgdfType"></i>
            <fa-icon *ngIf="diplome.iFaType !== null" [icon]="diplome.iFaType" class="icone_diplome"
              matTooltipPosition="above" [matTooltip]="diplome.type + ' - ' + diplome.date"
              [fixedWidth]="true"></fa-icon>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="fonction">
        <th mat-header-cell *matHeaderCellDef class="titre_table">Fonction</th>
        <td mat-cell [matTooltip]="value.fonction" matTooltipPosition="above" class="fonction"
          [ngClass]="value.codeFonction_classe" *matCellDef="let value">
          {{ value.codeFonctionComplet }}
        </td>
      </ng-container>
      <ng-container matColumnDef="fonctionSecondaire" class="table-row">
        <th mat-header-cell *matHeaderCellDef class="titre_table" mat-sort-header>Fonction<br />Secondaire</th>
        <td mat-cell [matTooltip]="value.fonctionSecondaire" matTooltipPosition="above" class="fonction"
          [ngClass]="value.codeFonctionSecondaire_classe" *matCellDef="let value">
          {{ value.codeFonctionSecondaireComplet }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsCompas"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsCompas"></tr>
    </table>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label><span
        pTooltip="Indique d'&eacute;ventuels points d'attention sur certaines incoh&eacute;rences dans l'intranet, probl&egrave;me d'&acirc;ge, qualification expir&eacute;e..."
        tooltipPosition="bottom">Alertes</span>
    </ng-template>
    <table mat-table #alertesSort="matSort" matSort matSortDisableClear [dataSource]="dataSourceAlertes">
      <ng-container matColumnDef="codeAdherent">
        <th mat-header-cell *matHeaderCellDef>Code adh&eacute;rent</th>
        <td mat-cell *matCellDef="let value">{{ value.adherent.codeAdherent }}</td>
      </ng-container>
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let value">{{ value.adherent.nom }}</td>
      </ng-container>
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pr&eacute;nom</th>
        <td mat-cell *matCellDef="let value">{{ value.adherent.prenom }}</td>
      </ng-container>
      <ng-container matColumnDef="nomStructure">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit&eacute;</th>
        <td mat-cell *matCellDef="let value">{{ value.adherent.nomStructure }}</td>
      </ng-container>
      <ng-container matColumnDef="codeGroupe">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code Groupe</th>
        <td mat-cell *matCellDef="let value">{{ value.adherent.codeGroupe }}</td>
      </ng-container>
      <ng-container matColumnDef="codeStructure">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code Structure</th>
        <td mat-cell *matCellDef="let value">{{ value.adherent.codeStructure }}</td>
      </ng-container>
      <ng-container matColumnDef="branche">
        <th mat-header-cell *matHeaderCellDef>Branche</th>
        <td mat-cell [matTooltip]="value.fonction" matTooltipPosition="above" class="fonction"
          [ngClass]="value.adherent.codeFonction_classe" *matCellDef="let value">
          {{ value.adherent.branche_abreviation }}
        </td>
      </ng-container>
      <ng-container matColumnDef="severite">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>S&eacute;v&eacute;rit&eacute;</th>
        <td mat-cell [ngClass]="value.severite_classe" *matCellDef="let value">{{ value.severite }}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let value">{{ value.type }}</td>
      </ng-container>
      <ng-container matColumnDef="alerte">
        <th mat-header-cell *matHeaderCellDef>Alerte</th>
        <td mat-cell *matCellDef="let value">{{ value.message }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsAlertes"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsAlertes"></tr>
    </table>
  </mat-tab>
  <mat-tab *ngIf="showQuotas()" label="Synth&egrave;se d'unit&eacute;">
    <table mat-table [dataSource]="dataSourceSyntheseParUnite" multiTemplateDataRows>
      <ng-container matColumnDef="unite">
        <th mat-header-cell *matHeaderCellDef>Unit&eacute;</th>
        <td mat-cell *matCellDef="let value">{{ value.nom }}</td>
      </ng-container>
      <ng-container matColumnDef="codeGroupe">
        <th mat-header-cell *matHeaderCellDef>Code Groupe</th>
        <td mat-cell *matCellDef="let value">{{ value.groupe.code }}</td>
      </ng-container>
      <ng-container matColumnDef="codeStructure">
        <th mat-header-cell *matHeaderCellDef>Code Structure</th>
        <td mat-cell *matCellDef="let value">{{ value.codeStructure }}</td>
      </ng-container>
      <ng-container matColumnDef="branche">
        <th mat-header-cell *matHeaderCellDef>Branche</th>
        <td mat-cell *matCellDef="let value" [ngClass]="value.branche_classe">{{ value.branche_abreviation }}</td>
      </ng-container>
      <ng-container matColumnDef="jeunes">
        <th mat-header-cell *matHeaderCellDef>Jeunes</th>
        <td mat-cell class="jeunes" *matCellDef="let value">{{ value.jeunes }}</td>
      </ng-container>
      <ng-container matColumnDef="chefs">
        <th mat-header-cell *matHeaderCellDef>Chefs</th>
        <td mat-cell class="chefs" *matCellDef="let value">{{ value.chefs }}</td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let value; let i = dataIndex"
          [attr.colspan]="displayedColumnsSyntheseParUnite.length">
          <div class="synthese-unite-element-detail"
            [@detailExpand]="expandedSyntheseParUnite[i] === true ? 'expanded' : 'collapsed'">
            <div class="synthese-unite-element-description">
              <div>
                APPRO SURVEILLANT DE BAIGNADE : {{ value.moduleapprosurveillantbaignade }}<br />
                APPRO ACCUEIL DE SCOUTISME : {{ value.approaccueil }}<br />
                APPRO ANIM : {{ value.approanim }}<br />
                MODULE APPRO ACCUEIL DE SCOUTISME : {{ value.moduleapproaccueilscoutisme }}<br />
                MODULE ANIMATEUR DE SCOUTISME ET CAMPISME : {{ value.moduleanimateurscoutismecampisme }}
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="padding-right: 5px; text-align: center">
          <button *ngIf="!allExpandedSyntheseParUnite" class="button_table float-right" type="submit"
            (click)="toggleAllSyntheseParUnite(true)">
            <fa-icon icon="angle-double-down"></fa-icon>
          </button>
          <button *ngIf="allExpandedSyntheseParUnite" class="button_table float-right" type="submit"
            (click)="toggleAllSyntheseParUnite(false)">
            <fa-icon icon="angle-double-up"></fa-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let value; let i = dataIndex" style="padding-right: 5px; text-align: center">
          <button *ngIf="expandedSyntheseParUnite[i] === true" class="float-right" type="submit"
            (click)="toggleSyntheseParUnite(i)">
            <fa-icon icon="angle-down"></fa-icon>
          </button>
          <button *ngIf="expandedSyntheseParUnite[i] === false" class="float-right" type="submit"
            (click)="toggleSyntheseParUnite(i)">
            <fa-icon icon="angle-up"></fa-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="ratio">
        <th mat-header-cell *matHeaderCellDef>Ratio</th>
        <td mat-cell *matCellDef="let value">{{ value.ratio }}</td>
      </ng-container>
      <ng-container matColumnDef="dirsf">
        <th mat-header-cell *matHeaderCellDef>DIR SF</th>
        <td mat-cell *matCellDef="let value">{{ value.dirsf }}</td>
      </ng-container>
      <ng-container matColumnDef="animsf">
        <th mat-header-cell *matHeaderCellDef>ANIM SF</th>
        <td mat-cell *matCellDef="let value">{{ value.animsf }}</td>
      </ng-container>
      <ng-container matColumnDef="apf">
        <th mat-header-cell *matHeaderCellDef>APF</th>
        <td mat-cell *matCellDef="let value">{{ value.apf }}</td>
      </ng-container>
      <ng-container matColumnDef="tech">
        <th mat-header-cell *matHeaderCellDef>TECH</th>
        <td mat-cell *matCellDef="let value">{{ value.tech }}</td>
      </ng-container>
      <ng-container matColumnDef="appro">
        <th mat-header-cell *matHeaderCellDef>APPRO</th>
        <td mat-cell *matCellDef="let value">{{ value.appro }}</td>
      </ng-container>
      <ng-container matColumnDef="responsablefarfadets">
        <th mat-header-cell *matHeaderCellDef>RESPONSABLE FARFADETS</th>
        <td mat-cell *matCellDef="let value">{{ value.responsablefarfadets }}</td>
      </ng-container>
      <ng-container matColumnDef="psc1">
        <th mat-header-cell *matHeaderCellDef>PSC1 / AFPS</th>
        <td mat-cell *matCellDef="let value">{{ value.psc1 }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsSyntheseParUnite"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsSyntheseParUnite; let i = dataIndex"
        class="synthese-unite-element-row" [class.synthese-unite-expanded-row]="expandedSyntheseParUnite[i] === true">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="synthese-unite-detail-row"></tr>
    </table>
  </mat-tab>
  <mat-tab *ngIf="showQuotas()">
    <ng-template mat-tab-label><span
        pTooltip="Effectue un comptage total des effectifs et applique ensuite les r&egrave;gles d'accueil collectif de mineurs (Voir Guide r&egrave;glementaire du Scoutisme Français) et indique par un fond rouge les manques &eacute;ventuels. Idem avec le PSC1 (secourisme)"
        tooltipPosition="bottom">Quota ann&eacute;e</span>
    </ng-template>
    <table mat-table [dataSource]="dataSourceQuotaAnnee" multiTemplateDataRows>
      <ng-container matColumnDef="unite">
        <th mat-header-cell *matHeaderCellDef>Groupe</th>
        <td mat-cell *matCellDef="let value">{{ value.unite.nom }}</td>
      </ng-container>
      <ng-container matColumnDef="codeGroupe">
        <th mat-header-cell *matHeaderCellDef>Code Groupe</th>
        <td mat-cell *matCellDef="let value">{{ value.unite.groupe.nom }}</td>
      </ng-container>
      <ng-container matColumnDef="codeStructure">
        <th mat-header-cell *matHeaderCellDef>Code Structure</th>
        <td mat-cell *matCellDef="let value">{{ value.unite.groupe.code }}</td>
      </ng-container>
      <ng-container matColumnDef="jeunes">
        <th mat-header-cell *matHeaderCellDef>Jeunes</th>
        <td mat-cell class="jeunes" *matCellDef="let value">{{ value.jeunes }}</td>
      </ng-container>
      <ng-container matColumnDef="chefs">
        <th mat-header-cell *matHeaderCellDef>Chefs</th>
        <td mat-cell class="chefs" *matCellDef="let value">{{ value.chefs }}</td>
      </ng-container>
      <ng-container matColumnDef="quotaDir">
        <th mat-header-cell *matHeaderCellDef>Y a-t-il un directeur titulaire ou stagiaire ?</th>
        <td mat-cell *matCellDef="let value">
          <span class="p-tag p-tag-rounded p-tag-danger"
            *ngIf="value.quotaSF != null && value.quotaSF.directeur == false">{{
            value.quotaSF.directeurEff
            }}</span>
          <span>
            <fa-icon *ngIf="value.quotaSF != null && value.quotaSF.directeur == true" icon="check"></fa-icon>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="quotaEncadrants">
        <th mat-header-cell *matHeaderCellDef>Nombre d'encadrants minimum ?</th>
        <td mat-cell *matCellDef="let value">
          <span class="p-tag p-tag-rounded p-tag-danger"
            *ngIf="value.quotaSF != null && value.quotaSF.encadrantMinimum == false">{{
            value.quotaSF.encadrantMinimumEff
            }}</span>
          <span>
            <fa-icon *ngIf="value.quotaSF != null && value.quotaSF.encadrantMinimum == true" icon="check"></fa-icon>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="quotaQualifies">
        <th mat-header-cell *matHeaderCellDef>Nombre de qualifiés ?</th>
        <td mat-cell *matCellDef="let value">
          <span class="p-tag p-tag-rounded p-tag-danger"
            *ngIf="value.quotaSF != null && value.quotaSF.qualifie == false">{{
            value.quotaSF.qualifieEff
            }}</span>
          <span>
            <fa-icon *ngIf="value.quotaSF != null && value.quotaSF.qualifie == true" icon="check"></fa-icon>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="quotaStagiaires">
        <th mat-header-cell *matHeaderCellDef>Nombre de stagiaires ?</th>
        <td mat-cell *matCellDef="let value">
          <span class="p-tag p-tag-rounded p-tag-danger"
            *ngIf="value.quotaSF != null && value.quotaSF.stagiaire == false">{{
            value.quotaSF.stagiaireEff
            }}</span>
          <span>
            <fa-icon *ngIf="value.quotaSF != null && value.quotaSF.stagiaire == true" icon="check"></fa-icon>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="quotaNonQualifies">
        <th mat-header-cell *matHeaderCellDef>Nombre de non-qualifiés ?</th>
        <td mat-cell *matCellDef="let value">
          <span class="p-tag p-tag-rounded p-tag-danger"
            *ngIf="value.quotaSF != null && value.quotaSF.nonQualifie == false">{{
            value.quotaSF.nonQualifieEff
            }}</span>
          <span>
            <fa-icon *ngIf="value.quotaSF != null && value.quotaSF.nonQualifie == true" icon="check"></fa-icon>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="quotaPSC1">
        <th mat-header-cell *matHeaderCellDef>PSC1 / AFPS</th>
        <td mat-cell *matCellDef="let value">
          <span class="p-tag p-tag-rounded p-tag-danger" *ngIf="value.nbPSC1 < 0">{{ value.nbPSC1 }}</span>
          <span>
            <fa-icon *ngIf="value.nbPSC1 >= 0" icon="check"></fa-icon>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let value; let i = dataIndex" [attr.colspan]="displayedColumnsQuotaAnnee.length">
          <div class="quota-annee-element-detail"
            [@detailExpand]="expandedQuotaAnnee[i] === true ? 'expanded' : 'collapsed'">
            <div class="quota-annee-element-description">
              <div *ngIf="value.quotaSF !== null">
                Directeur : {{ value.quotaSF.directeurNb }}<br />
                Encadrant minimum : {{ value.quotaSF.encadrantMinimumNb }}<br />
                Qualifié : {{ value.quotaSF.qualifieNb }}<br />
                Stagiaire : {{ value.quotaSF.stagiaireNb }}<br />
                Non-Qualifé : {{ value.quotaSF.nonQualifieNb }}
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="padding-right: 5px; text-align: center">
          <button *ngIf="!allExpandedQuotaAnnee" class="button_table float-right" type="submit"
            (click)="toggleAllQuotaAnnee(true)">
            <fa-icon icon="angle-double-down"></fa-icon>
          </button>
          <button *ngIf="allExpandedQuotaAnnee" class="button_table float-right" type="submit"
            (click)="toggleAllQuotaAnnee(false)">
            <fa-icon icon="angle-double-up"></fa-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let value; let i = dataIndex" style="padding-right: 5px; text-align: center">
          <button *ngIf="expandedQuotaAnnee[i] === true" class="float-right" type="submit"
            (click)="toggleQuotaAnnee(i)">
            <fa-icon icon="angle-down"></fa-icon>
          </button>
          <button *ngIf="expandedQuotaAnnee[i] === false" class="float-right" type="submit"
            (click)="toggleQuotaAnnee(i)">
            <fa-icon icon="angle-up"></fa-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsQuotaAnnee"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsQuotaAnnee; let i = dataIndex"
        class="quota-annee-element-row" [class.quota-annee-expanded-row]="expandedQuotaAnnee[i] === true"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="quota-annee-detail-row"></tr>
    </table>
  </mat-tab>
  <mat-tab *ngIf="showQuotas()">
    <ng-template mat-tab-label><span
        pTooltip="Effectue un comptage par unit&eacute; des effectifs et applique ensuite les r&egrave;gles d'accueil collectif de mineurs (Voir Guide r&egrave;glementaire du Scoutisme Français) et indique par un fond rouge les manques éventuels. Idem avec le PSC1 (secourisme). Cet onglet permet de v&eacute;rifier l'&eacute;tat actuel de la maîtrise si l'unit&eacute; partait en camp. Un autre outil sera fourni ult&eacute;rieurement pour les dossiers de camp, bas&eacute; sur la ma&icirc;trise réelle du camp d'&eacute;t&eacute;."
        tooltipPosition="bottom">Quota unit&eacute;s</span>
    </ng-template>
    <table mat-table [dataSource]="dataSourceQuotaParUnite" multiTemplateDataRows>
      <ng-container matColumnDef="unite">
        <th mat-header-cell *matHeaderCellDef>Unit&eacute;</th>
        <td mat-cell *matCellDef="let value">{{ value.unite.nom }}</td>
      </ng-container>
      <ng-container matColumnDef="codeGroupe">
        <th mat-header-cell *matHeaderCellDef>Code Groupe</th>
        <td mat-cell *matCellDef="let value">{{ value.unite.groupe.code }}</td>
      </ng-container>
      <ng-container matColumnDef="codeStructure">
        <th mat-header-cell *matHeaderCellDef>Code Structure</th>
        <td mat-cell *matCellDef="let value">{{ value.unite.codeStructure }}</td>
      </ng-container>
      <ng-container matColumnDef="branche">
        <th mat-header-cell *matHeaderCellDef>Branche</th>
        <td mat-cell [ngClass]="value.unite.branche_classe" *matCellDef="let value">
          {{ value.unite.branche_abreviation }}
        </td>
      </ng-container>
      <ng-container matColumnDef="jeunes">
        <th mat-header-cell *matHeaderCellDef>Jeunes</th>
        <td mat-cell class="jeunes" *matCellDef="let value">{{ value.unite.jeunes }}</td>
      </ng-container>
      <ng-container matColumnDef="chefs">
        <th mat-header-cell *matHeaderCellDef>Chefs</th>
        <td mat-cell class="chefs" *matCellDef="let value">{{ value.unite.chefs }}</td>
      </ng-container>
      <ng-container matColumnDef="quotaDir">
        <th mat-header-cell *matHeaderCellDef>Y a-t-il un directeur titulaire ou stagiaire ?</th>
        <td mat-cell *matCellDef="let value">
          <span class="p-tag p-tag-rounded p-tag-danger"
            *ngIf="value.quotaSF != null && value.quotaSF.directeur == false">{{
            value.quotaSF.directeurEff
            }}</span>
          <span>
            <fa-icon *ngIf="value.quotaSF != null && value.quotaSF.directeur == true" icon="check"></fa-icon>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="quotaEncadrants">
        <th mat-header-cell *matHeaderCellDef>Nombre d'encadrants minimum ?</th>
        <td mat-cell *matCellDef="let value">
          <span class="p-tag p-tag-rounded p-tag-danger"
            *ngIf="value.quotaSF != null && value.quotaSF.encadrantMinimum == false">{{
            value.quotaSF.encadrantMinimumEff
            }}</span>
          <span>
            <fa-icon *ngIf="value.quotaSF != null && value.quotaSF.encadrantMinimum == true" icon="check"></fa-icon>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="quotaQualifies">
        <th mat-header-cell *matHeaderCellDef>Nombre de qualifiés ?</th>
        <td mat-cell *matCellDef="let value">
          <span class="p-tag p-tag-rounded p-tag-danger"
            *ngIf="value.quotaSF != null && value.quotaSF.qualifie == false">{{
            value.quotaSF.qualifieEff
            }}</span>
          <span>
            <fa-icon *ngIf="value.quotaSF != null && value.quotaSF.qualifie == true" icon="check"></fa-icon>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="quotaStagiaires">
        <th mat-header-cell *matHeaderCellDef>Nombre de stagiaires ?</th>
        <td mat-cell *matCellDef="let value">
          <span class="p-tag p-tag-rounded p-tag-danger"
            *ngIf="value.quotaSF != null && value.quotaSF.stagiaire == false">{{
            value.quotaSF.stagiaireEff
            }}</span>
          <span>
            <fa-icon *ngIf="value.quotaSF != null && value.quotaSF.stagiaire == true" icon="check"></fa-icon>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="quotaNonQualifies">
        <th mat-header-cell *matHeaderCellDef>Nombre de non-qualifiés ?</th>
        <td mat-cell *matCellDef="let value">
          <span class="p-tag p-tag-rounded p-tag-danger"
            *ngIf="value.quotaSF != null && value.quotaSF.nonQualifie == false">{{
            value.quotaSF.nonQualifieEff
            }}</span>
          <span>
            <fa-icon *ngIf="value.quotaSF != null && value.quotaSF.nonQualifie == true" icon="check"></fa-icon>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="quotaPSC1">
        <th mat-header-cell *matHeaderCellDef>PSC1 / AFPS</th>
        <td mat-cell *matCellDef="let value">
          <span class="p-tag p-tag-rounded p-tag-danger" *ngIf="value.nbPSC1 < 0">{{ value.nbPSC1 }}</span>
          <span>
            <fa-icon *ngIf="value.nbPSC1 >= 0" icon="check"></fa-icon>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let value; let i = dataIndex" [attr.colspan]="displayedColumnsQuotaParUnite.length">
          <div class="quota-unite-element-detail"
            [@detailExpand]="expandedQuotaParUnite[i] === true ? 'expanded' : 'collapsed'">
            <div class="quota-unite-element-description">
              <div *ngIf="value.quotaSF !== null">
                Directeur : {{ value.quotaSF.directeurNb }}<br />
                Encadrant minimum : {{ value.quotaSF.encadrantMinimumNb }}<br />
                Qualifié : {{ value.quotaSF.qualifieNb }}<br />
                Stagiaire : {{ value.quotaSF.stagiaireNb }}<br />
                Non-Qualifé : {{ value.quotaSF.nonQualifieNb }}
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="padding-right: 5px; text-align: center">
          <button *ngIf="!allExpandedQuotaParUnite" class="button_table float-right" type="submit"
            (click)="toggleAllQuotaUnite(true)">
            <fa-icon icon="angle-double-down"></fa-icon>
          </button>
          <button *ngIf="allExpandedQuotaParUnite" class="button_table float-right" type="submit"
            (click)="toggleAllQuotaUnite(false)">
            <fa-icon icon="angle-double-down"></fa-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let value; let i = dataIndex" style="padding-right: 5px; text-align: center">
          <button *ngIf="expandedQuotaParUnite[i] === true" class="float-right" type="submit"
            (click)="toggleQuotaParUnite(i)">
            <fa-icon icon="angle-down"></fa-icon>
          </button>
          <button *ngIf="expandedQuotaParUnite[i] === false" class="float-right" type="submit"
            (click)="toggleQuotaParUnite(i)">
            <fa-icon icon="angle-up"></fa-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsQuotaParUnite"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsQuotaParUnite; let i = dataIndex"
        class="quota-unite-element-row" [class.quota-unite-expanded-row]="expandedQuotaParUnite[i] === true"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="quota-unite-detail-row"></tr>
    </table>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label><span
        pTooltip="Indique si le responsable peut apparaitre sur les photos ou des reportages TV par exemple"
        tooltipPosition="bottom">Droits</span>
    </ng-template>
    <table mat-table #droitsSort="matSort" matSort matSortDisableClear [dataSource]="dataSourceDroits">
      <ng-container matColumnDef="codeAdherent">
        <th mat-header-cell *matHeaderCellDef>Code adh&eacute;rent</th>
        <td mat-cell *matCellDef="let value">{{ value.codeAdherent }}</td>
      </ng-container>
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let value">{{ value.nom }}</td>
      </ng-container>
      <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pr&eacute;nom</th>
        <td mat-cell *matCellDef="let value">{{ value.prenom }}</td>
      </ng-container>
      <ng-container matColumnDef="nomStructure">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit&eacute;</th>
        <td mat-cell *matCellDef="let value">{{ value.nomStructure }}</td>
      </ng-container>
      <ng-container matColumnDef="codeGroupe">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code Groupe</th>
        <td mat-cell *matCellDef="let value">{{ value.codeGroupe }}</td>
      </ng-container>
      <ng-container matColumnDef="codeStructure">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code Structure</th>
        <td mat-cell *matCellDef="let value">{{ value.codeStructure }}</td>
      </ng-container>
      <ng-container matColumnDef="fonction">
        <th mat-header-cell *matHeaderCellDef class="titre_table">Fonction</th>
        <td [matTooltip]="value.fonction" matTooltipPosition="above" mat-cell class="fonction"
          [ngClass]="value.codeFonction_classe" *matCellDef="let value">
          {{ value.codeFonctionComplet }}
        </td>
      </ng-container>
      <ng-container matColumnDef="fonctionSecondaire" class="table-row">
        <th mat-header-cell *matHeaderCellDef class="titre_table" mat-sort-header>Fonction<br />Secondaire</th>
        <td mat-cell [matTooltip]="value.fonctionSecondaire" matTooltipPosition="above" class="fonction"
          [ngClass]="value.codeFonctionSecondaire_classe" *matCellDef="let value">
          {{ value.codeFonctionSecondaireComplet }}
        </td>
      </ng-container>
      <ng-container matColumnDef="droitImage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Droit à l'image</th>
        <td mat-cell class="droits" *matCellDef="let value">
          <fa-icon *ngIf="value.droitImage" icon="check"></fa-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="droitInformations">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Droit informations</th>
        <td mat-cell class="droits" *matCellDef="let value">
          <fa-icon *ngIf="value.droitInformations" icon="check"></fa-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsDroits"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsDroits"></tr>
    </table>
  </mat-tab>
</mat-tab-group>