<nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
      <span class="logo-img"></span>
      AnalytiScout
      <span *ngIf="versionDev()" style="color: red"><b>Dev</b></span>
    </a>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation" (click)="toggleNavbar()">
      <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed()">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
            <span>
              <fa-icon icon="home"></fa-icon>
              <span jhiTranslate="global.menu.home">Accueil</span>
            </span>
          </a>
        </li>
        <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
        <a class="nav-link" *ngIf="isAuthenticated()" routerLink="/pages/responsables" routerLinkActive="active">
          <span>
            <i class="nav-sgdf sgdf-picto sgdf-picto-signesFormation-CHAM"></i>
            <span>Responsables &amp; Compas</span>
          </span>
        </a>

        <a class="nav-link" *ngIf="isAuthenticated() && showJeunes()" routerLink="/pages/jeunes"
          routerLinkActive="active">
          <span>
            <i class="nav-sgdf sgdf-picto sgdf-picto-signesCommuns-Arbre"></i>
            <span>Jeunes</span>
          </span>
        </a>

        <div class="vl" *ngIf="account !== null"></div>
        @if (account() !== null) {
        <a style="width: 250px" *ngIf="account !== null" [matMenuTriggerFor]="menu" class="nav-link navbar_structures"
          type="submit">
          <span>
            <i class="nav-sgdf sgdf-picto sgdf-picto-signesCommuns-Campement"></i>
            <span>Structures</span><br /><span class="cdrbar">{{ displayFonction() }}</span>
          </span>
        </a>
        <mat-menu #menu="matMenu" class="matMenuSmall">
          <button mat-menu-item *ngFor="let structure of account()!.structuresFonctions"
            (click)="switchStructure(structure)">
            {{ structure.nomStructure }}
          </button>
        </mat-menu>
        }
        <div class="vl" *ngIf="account !== null"></div>

        <li *ngIf="!isWork()" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu"
            data-cy="accountMenu">
            @if (!account()?.imageUrl) {
            <span>
              <fa-icon icon="user"></fa-icon>
              <span jhiTranslate="global.menu.account.main">Compte</span>
            </span>
            } @else {
            <span>
              <img [src]="account()!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
            </span>
            }
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
            @if (account() !== null) {
            <li>
              <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.logout">Déconnexion</span>
              </a>
            </li>
            } @else {
            <li>
              <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
                <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                <span jhiTranslate="global.menu.account.login">S&apos;authentifier</span>
              </a>
            </li>
            }
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>