@import 'bootstrap/scss/functions';
@import 'bootswatch/dist/cosmo/variables';
@import 'bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.navbar_structures {
  width: 225px;
  text-align: center;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar-collapse {
  padding-left: 5px;
}

.cdrbar {
  font-size: xx-small;
  font-weight: 300;
  align-content: center;
  overflow-wrap: break-word;
}

.navbar {
  background-color: #003A5F;
  padding: 0.2rem 1rem;
  padding-left: 0px;
  padding-right: 15px;
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: $dark;
  }

  .navbar-brand {
    margin-right: 0px;
    font-size: x-large;
  }

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
      align-self: center;
    }
  }

  a.nav-link {
    font-weight: 600;
    align-self: center;
  }

  a.p-element.nav-link {
    align-self: center;
  }

  .navbar-toggler {
    &:hover {
      color: $navbar-dark-hover-color;
    }
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 42px;
  width: 115px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-sgdf.png') no-repeat center center;
  background-size: contain;
}

::ng-deep .mat-menu-item {
  font-size: x-small;
}

.icone_sgdf {
  vertical-align: text-top;
}
