<div class="container-fluid">
    <h1>Plateforme AnalytiScout</h1>

    <div style="align-content: center;" class="login" *ngIf="!isAuthenticated()">
        <br>
        <h4>Ce site est d&eacute;di&eacute; &agrave; la gestion interne par les &eacute;quipes de groupes ou
            territoriales
            des Scouts et Guides de France.</h4>
        <br>
        <a style="background-color: white; font-size: xx-large;" class="dropdown-item" (click)="login()" id="login"
            *ngIf="!isWork()">
            <fa-icon icon="sign-in-alt" [fixedWidth]=true></fa-icon>
            <span jhiTranslate="global.menu.account.login">Sign in</span>
        </a>
        <div style="align-content: center;" *ngIf="isWork()">
            <h3>
                <i class="nav-sgdf sgdf-picto sgdf-picto-signesFormation-Formation" style="font-size: xxx-large;"></i>
                <b style="vertical-align : super">{{ this.version.workMessage! }}</b>
                <i class="nav-sgdf sgdf-picto sgdf-picto-signesFormation-Formation" style="font-size: xxx-large;"></i>
            </h3>
        </div>
        <br>
        <img src="../../content/images/chemin.png" />
    </div>
    <br>
    <br>
    <div class="col-md-9">

        <div *ngIf="isAuthenticated()">
            <div class="alert alert-success">
                Vous &ecirc;tes connect&eacute; en tant que :
                <br>
                Code adh&eacute;rent : {{ this.account()!.adherent?.codeAdherent}}
                <br>
                Nom / Pr&eacute;nom : {{ afficheAdherent() }}
                <br>
                Fonction : {{ afficheFonction() }} ({{ afficheStructure() }})
            </div>
        </div>

        <div class="row" *ngIf="isAuthenticated()">
            <img class="image" style="margin-left: auto; margin-right: auto;" src="../../content/images/chemin.png" />
        </div>
    </div>
</div>