/* ==========================================================================
Main page styles
========================================================================== */

h1 {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.login img {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
